header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 29, 145);
    flex-direction: column;
}

.logo {
    text-align: center;
    color: #fff;    
}

.Complete-or-NotCompleted button{
    height: 40px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    background-color: #634b66;
    color: #fff;
    font-weight: bold;
}

.Complete-or-NotCompleted button:hover{
    background-color: #89678d;
    
    
}